.twitter-bg {
    background-color: #03A9F4;
}

.instagram-bg {
    background: #f09433;
    background: -moz-linear-gradient(130deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(130deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(130deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}


.facebook-bg {
    background-color: #475993;
}