body {
    &.cms-privacy-policy,
    &.cms-terms-conditions-merchants,
    &.cms-terms-conditions-designers,
    &.cms-terms-conditions-customers,
    &.cms-return-policy,
    &.cms-disclaimer-policy,
    &.cms-shipping-policy,
    &.cms-merchant-kyc-policy,
    &.cms-merchant-payment-policy,
    &.cms-dispute-settlement-policy,
    &.cms-how-to-show-certification-on-product-page,
    &.cms-how-to-add-video-to-product-page,
    &.cms-manage-my-business-account,
    &.cms-how-to-request-for-payout,
    &.cms-how-to-manage-delivery,
    &.cms-marketing-advertising-options-on-fabeu,
    &.cms-privacy-policy,
    &.cms-how-to-register-on-fabeu,
    &.cms-how-to-buy,
    &.cms-how-to-track-delivery {
        .cdz-block-title {
            text-align: center;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 100%;
            padding-top: 12.5px;
            p {
                &.b-title {
                    &::before {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
            ul {
                li {
                    &::before {
                        position: absolute;
                        content: "";
                        background: transparent;
                        // width: auto;
                        // height: auto;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        font-size: 15px;
                        color: #2e95b4;
                        /* line-height: 21px; */
                        width: 5px;
                        height: 5px;
                        background-color: $theme-txt-color;
                    }
                }
            }
            @media (max-width : 767px) {
                margin-bottom: 0;
                padding-bottom : 0;
            }
        }
        .b-title {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            top: -25px;
            width: unset;
            margin: 0;
            padding: 0 0 15px;
            &::before {
                position: absolute;
                right: auto;
                width: 100px!important;
                left: 50%!important;
                transform: translateX(-50%)!important;
            }
            @media (max-width: 767px) {
                top: -35px;
            }
        }
        &.cms-page-view {
            .page-main {
                @media (max-width: 767px) {
                    padding-top: 0!important;
                    padding-bottom: 0!important;
                }
                @media (min-width: 768px) {
                    max-width: 1170px!important;
                    width: 100%!important;
                    padding: 0 15px!important;
                }
                .page-title-wrapper {
                    .page-title {
                        @media (min-width : 768px) {
                            margin-top: 50px;
                        }
                    }
                }
                .column {
                    &.main {
                        margin: 0!important;
                    }
                }
                h2 {
                    @media (max-width : 767px) {
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                    @media (min-width : 768px) {
                        margin-bottom: 25px;
                    }
                }
                p {
                    font-size: 14px!important;
                    line-height: 21px!important;
                }
                .columns {
                    @media (min-width: 768px) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .column {
                        @media (max-width : 767px) {
                            order: 2;
                        }
                    }
                    .sidebar-additional {
                        @media (max-width : 767px) {
                            order: 1;
                            ul {
                                display: flex;
                                flex-wrap: wrap;
                                text-align: center;
                                justify-content: center;
                                margin: 0!important;
                                li {
                                    padding: 0 35px;
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .privacy-policy-section {
            .box-wrapper {
                width: 100%;
                padding: 100px 0;
                @media (max-width: 991px) {
                    padding: 50px 30px;
                }
            }
        }
    }
}