.testimonial-section {
    margin: 100px 0;
}

.testimonial-container {
    padding: 0 10em;
    @media (min-width : 992px) and (max-width:1480px) {
        padding: 0;
    }
    @media (min-width : 768px) and (max-width:991px) {
        padding: 0;
    }
    @media (max-width:767px){
        padding: 0 5em;
    }
    @media (max-width:480px){
        padding: 0 2em;

    }
    .testmonial-wrapper {
        width: calc(100% - 76px);
        background: #F5F5F5;
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 19px;
        margin: 17.5px 0;
        padding: 60px 35px;
        position: relative;

        .qoute-wrapper {
            position: absolute;
            top: 36px;
            #{$th-direction}: 37px;
        }

        .test-head {
            margin: 9px 0;
            h3{
                margin:0;
            }
        }
    }
    .btn__wrapper{
        display:flex;
        justify-content: center;
        margin-top: 49px;
        .load-more{
            border:1px solid #2E95B4;
            color:#2E95B4;
            padding:13px 42px;
            font-size: 18px;
            border-radius: 4px;
            background: transparent;
            &:hover {
                background: #2E95B4;
                color: #FFF;
            }
        }
    }
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col-30 {
        width: 32%;
        @media (max-width:1366px) {
            width: 45%;
        }
        @media (max-width:769px){
            width:100%;
        }
    }
}