@use "sass:list";
@use "sass:math";

$browser-context: 10;

@function em($pixels, $context: $browser-context) {
    @return math.div($pixels, $context) * 1em;
}

//  LTR Direction Variables
$th-direction: left;
$th-opdirection: right;

// All Mixin Define Within This file
@import "base/mixins";

//  Import Color
@import "base/color";

//  Import Fonts
@import "base/fonts";

//  Import Custom Variables
@import "base/custom-variables";

//  Import Font Family
// @import "base/typography";

// theme
@import "base/theme";

//  Centralized Component
@import "components/inner-hero";

// Accordion
@import "components/accordion";

// Navigation
@import "layout/navigation";


